<label for="dataType"></label>
<select class="signature-select" name="dataType">
{{#each typeModels}}
<option value="{{{name}}}">{{{name}}}</option>
{{/each}}
</select>
<div class="model-signatures"></div>
